# Ambiente Virtual
.venv/
*.pyc
__pycache__/

# Arquivo de Segredos
.env

# Arquivos do VS Code
.vscode/

# Arquivos do Alembic (cache)
.alembic_cache/

.create_admin.py
.listar_produtos.py
.popular_estoque.py